:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box
}

.container {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  margin: 0 auto;
  width: 900px;
  gap:10px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 390px;
}
